/* Universal Style */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Specific style */

#navbar {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: inline-block;
  position: fixed;
}

#underline {
  display: inline-flex;
  text-decoration: underline;
  float: right;
}

.navbar {
  margin: 10px
}

#logo {
  margin-right: 10px;
  float: left;
  height: 50px;
}

#tea {
  font-style: cursive;
}