/* Universal Style */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Specific style */

/* Navbar Section*/
#navbar {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: inline-block;
}

#underline {
  display: inline-flex;
  text-decoration: underline;
  float: right;
}

.navbar {
  margin: 10px
}

#logo {
  margin-right: 10px;
  float: left;
  height: 50px;
}

#tea {
  font-style: cursive;
}

/* Pic Banner Section */

#mission-section {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

#mission-container {
  background-image: url(Resources/images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 700px;
  display: inline-flex;
  flex-grow: 1;
}

#mission-text {
  text-align: center;
  background-color: black;
  width: 100%;
  margin: auto;
}

/* Tea of the month section */
#month-section {
  display: flex;
  margin-top: 60px;
}

#tea-text {
  text-align: center;
  width: 100%;
  margin: auto;
  display: block;
}

#tea-section {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-image {
  width: 300px;
  display:inline-flex;
  height: 200px;
}

figcaption {
  text-align: center;
}

/* Locations styleing */

#locations-section {
  background-image: url(Resources/images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
}

#container1 {
  height: 100%;
  align-items: center;
}

#locations-header {
  text-align: center;
}

#locations-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.locations {
  background-color: black;
  width: 300px;
  opacity: 1;
}

/* Bottom-banner Styling */

#bottom-container {
  width: 100%;
  display: inline-block;
  align-items: center;
  text-align: center;
  height: 200px;
}

h5 {
  margin-top: 45px;
}