/* Universal Style */
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Specific style */

#navbar {
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  /* justify-content: space-around */
}

#underline {
  display: inline-flex;
  flex: grow;
  text-decoration: underline;
}

.navbar {
  margin: 10px
}

#logo {
  margin-right: 10px;
}